mixin topics()
  .topics-row 
    .topic-item
      img.topic-img.toMathGrant(src=require("../../assets/indexImages/mathGrants.jpg"))
    .topic-item
      img.topic-img.toMathCuration(src=require("../../assets/indexImages/mathCuration.jpg"))
    .topic-item
      img.topic-img.toScienceGrant(src=require("../../assets/indexImages/scienceGrants.jpg"))
    .topic-item
      img.topic-img.toScienceCuration(src=require("../../assets/indexImages/scienceCuration.jpg"))
    //- 2 row
  .topics-row 
    .topic-item
      img.topic-img.toEngagementScience(src=require("../../assets/indexImages/engagementScience.jpg"))
    .topic-item-big
      img.topic-img.toResearchGrants(src=require("../../assets/indexImages/researchGrants.jpg"))
    .topic-item
      img.topic-img.toResearchCuration(src=require("../../assets/indexImages/researchCuration.jpg"))
    //- 3 row
  .topics-row 
    .topic-item
      img.topic-img.toPolicyGrant(src=require("../../assets/indexImages/policyGrants.jpg"))
    .topic-item-big
      img.topic-img.toResearchNetworking(src=require("../../assets/indexImages/researchNetworking.jpg"))
    .topic-item
      img.topic-img.toPolicyPapers(src=require("../../assets/indexImages/policyPapers.jpg"))
    //- 4 row
  .topics-row 
    .topic-item-big
      img.topic-img.toPilotProjects(src=require("../../assets/indexImages/pilotProjects.jpg"))
    .topic-item-big
      img.topic-img.toAssignedProjects(src=require("../../assets/indexImages/assignedProjects.jpg"))
    //- 5 row
  .topics-row 
    .topic-item
      img.topic-img.toResearchCapacity(src=require("../../assets/indexImages/researchCapacity.jpg"))
    .topic-item
      img.topic-img.toPrivateSectorProjects(src=require("../../assets/indexImages/privateSectorProjects.jpg"))
    .topic-item
      img.topic-img.toInnovationGrant(src=require("../../assets/indexImages/innovationGrants.jpg"))
    .topic-item
      img.topic-img.toInnovationCurations(src=require("../../assets/indexImages/innovationCurations.jpg"))
    //- 6 row
  .topics-row 
    .topic-item-big
      img.topic-img.toPrizeWinners(src=require("../../assets/indexImages/prizes.jpg"))
    .topic-item-big
      img.topic-img.toKfasMedia(src=require("../../assets/indexImages/kfasMedia.jpg"))
    //- 7 row
  .topics-row 
    .topic-item-big
      img.topic-img.toOrganizationalProjects(src=require("../../assets/indexImages/organizationalProjects.jpg"))
    .topic-item
      img.topic-img.toOrganizationalAchivements(src=require("../../assets/indexImages/organizationalAchievements.jpg"))
    .topic-item
      img.topic-img.toFinancialAchivements(src=require("../../assets/indexImages/financialAchievements.jpg"))
